.consultation {
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url(../img/consultation.jpg) center (center/cover) no-repeat;

    .title__left {
        color: rgb(255, 255, 255);
        font-size: 36px;
        text-align: left;
        margin-bottom: 0;
    }

    &__descr {
        margin-top: 10px;
        margin-bottom: 0;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 300;
        text-align: left;
    }

    .error {
        border: 1px solid red;
    }

    label.error {
        color: red;
        border: none;
        text-align: center;
        margin-bottom: 10px;
        font-size: 14px;
    }
}