.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    &__name {
        font-size: 18px;
        text-align: left;
        text-transform: none;
    }
}